html {
    background-color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    height: 10%;
}